.nut-divider {
  display: flex;
  align-items: center;
  font-size: $divider-text-font-size;
  color: rgba(0, 0, 0, 0.45);
  margin: $divider-margin;

  &::before,
  &::after {
    content: '';
    border: 0.5px solid rgba(0, 0, 0, 0.45);
    border-width: 0.5px 0 0;
    height: $divider-line-height;
    flex: 1;
  }

  &.nut-divider-center,
  &.nut-divider-left,
  &.nut-divider-right {
    &::before {
      margin-right: $divider-before-margin-right;
    }

    &::after {
      margin-left: $divider-after-margin-left;
    }
  }

  &.nut-divider-left {
    &::before {
      max-width: 10%;
    }
  }

  &.nut-divider-right {
    &::after {
      max-width: 10%;
    }
  }

  &.nut-divider-dashed {
    &::before,
    &::after {
      border-style: dashed;
    }
  }

  &.nut-divider-vertical {
    position: relative;
    top: $divider-vertical-top;
    display: inline-block;
    height: $divider-vertical-height;
    border-left: 0.5px solid rgba(0, 0, 0, 0.45);
    margin: $divider-vertical-margin;
  }
}
