.nut-address {
  display: block;

  &-list {
    max-height: 392px;
    display: block;
    overflow: auto;
  }

  &-item {
    height: 56px;
    line-height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);

    &:last-child {
      border: none;
    }
  }

  &-text {
    width: calc(100% - 66px);
  }

  &-icon {
    display: none;

    &-on {
      color: $primary-color;
      display: block;
    }
  }

  &-popup {
    & .nutui-popup__content-wrapper {
      padding: 0;
    }
  }
}
