@font-face {
  font-family: "nutui-iconfont"; /* Project id 3606167 */
  src: url('iconfont.eot?t=1661508960182'); /* IE9 */
  src: url('iconfont.eot?t=1661508960182#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1661508960182') format('woff2'),
       url('iconfont.woff?t=1661508960182') format('woff'),
       url('iconfont.ttf?t=1661508960182') format('truetype');
}

.nutui-iconfont {
  font-family: "nutui-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nut-icon-a-bianzu31:before {
  content: "\ea47";
}

.nut-icon-cart:before {
  content: "\ea1c";
}

.nut-icon-category:before {
  content: "\ea1d";
}

.nut-icon-add:before {
  content: "\ea1e";
}

.nut-icon-addfollow:before {
  content: "\ea1f";
}

.nut-icon-date:before {
  content: "\ea20";
}

.nut-icon-comment:before {
  content: "\ea21";
}

.nut-icon-clock:before {
  content: "\ea22";
}

.nut-icon-download:before {
  content: "\ea23";
}

.nut-icon-dshop:before {
  content: "\ea24";
}

.nut-icon-fabulous:before {
  content: "\ea25";
}

.nut-icon-dongdong:before {
  content: "\ea26";
}

.nut-icon-footprint:before {
  content: "\ea27";
}

.nut-icon-eye:before {
  content: "\ea28";
}

.nut-icon-JIMI40:before {
  content: "\ea29";
}

.nut-icon-home:before {
  content: "\ea2a";
}

.nut-icon-link:before {
  content: "\ea2b";
}

.nut-icon-jdl:before {
  content: "\ea2c";
}

.nut-icon-location:before {
  content: "\ea2d";
}

.nut-icon-lower:before {
  content: "\ea2e";
}

.nut-icon-github:before {
  content: "\ea2f";
}

.nut-icon-marshalling:before {
  content: "\ea30";
}

.nut-icon-retweet:before {
  content: "\ea31";
}

.nut-icon-message:before {
  content: "\ea32";
}

.nut-icon-order:before {
  content: "\ea33";
}

.nut-icon-photograph:before {
  content: "\ea34";
}

.nut-icon-find:before {
  content: "\ea35";
}

.nut-icon-a-scan2:before {
  content: "\ea36";
}

.nut-icon-search:before {
  content: "\ea37";
}

.nut-icon-microphone:before {
  content: "\ea38";
}

.nut-icon-refresh:before {
  content: "\ea39";
}

.nut-icon-more-x:before {
  content: "\ea3a";
}

.nut-icon-setting:before {
  content: "\ea3b";
}

.nut-icon-top:before {
  content: "\ea3c";
}

.nut-icon-my:before {
  content: "\ea3d";
}

.nut-icon-people:before {
  content: "\ea3e";
}

.nut-icon-notice:before {
  content: "\ea3f";
}

.nut-icon-loading1:before {
  content: "\ea40";
}

.nut-icon-loading2:before {
  content: "\ea41";
}

.nut-icon-share:before {
  content: "\ea42";
}

.nut-icon-more-s:before {
  content: "\ea43";
}

.nut-icon-scan:before {
  content: "\ea44";
}

.nut-icon-service:before {
  content: "\ea45";
}

.nut-icon-del:before {
  content: "\ea46";
}

.nut-icon-a-bianzu7:before {
  content: "\ea19";
}

.nut-icon-a-bianzu6:before {
  content: "\ea1a";
}

.nut-icon-a-bianzu5:before {
  content: "\ea1b";
}

.nut-icon-a-bianzu2:before {
  content: "\ea15";
}

.nut-icon-a-bianzu3:before {
  content: "\ea16";
}

.nut-icon-a-bianzu4:before {
  content: "\ea17";
}

.nut-icon-bianzu:before {
  content: "\ea18";
}

.nut-icon-arrow-left1:before {
  content: "\ea0c";
}

.nut-icon-arrow-right1:before {
  content: "\ea0d";
}

.nut-icon-arrow-up1:before {
  content: "\ea0e";
}

.nut-icon-arrow-down1:before {
  content: "\ea0f";
}

.nut-icon-dou-arrow-down:before {
  content: "\ea10";
}

.nut-icon-dou-arrow-up:before {
  content: "\ea11";
}

.nut-icon-dou-arrow-left:before {
  content: "\ea12";
}

.nut-icon-dou-arrow-right:before {
  content: "\ea13";
}

.nut-icon-screen-little:before {
  content: "\ea14";
}

.nut-icon-arrow-down:before {
  content: "\ea08";
}

.nut-icon-arrow-up:before {
  content: "\ea09";
}

.nut-icon-arrow-left:before {
  content: "\ea0a";
}

.nut-icon-arrow-right:before {
  content: "\ea0b";
}

.nut-icon-menu-2:before {
  content: "\ea05";
}

.nut-icon-menu-3:before {
  content: "\ea06";
}

.nut-icon-menu-1:before {
  content: "\ea07";
}

.nut-icon-play-start:before {
  content: "\e9fe";
}

.nut-icon-poweroff-circle-fill:before {
  content: "\e9ff";
}

.nut-icon-play-stop:before {
  content: "\ea00";
}

.nut-icon-play-circle-fill:before {
  content: "\ea01";
}

.nut-icon-voice:before {
  content: "\ea02";
}

.nut-icon-play-double-back:before {
  content: "\ea03";
}

.nut-icon-play-double-forward:before {
  content: "\ea04";
}

.nut-icon-minus:before {
  content: "\e9fd";
}

.nut-icon-check1:before {
  content: "\e9fc";
}

.nut-icon-success:before {
  content: "\e9f1";
}

.nut-icon-failure:before {
  content: "\e9f2";
}

.nut-icon-issue:before {
  content: "\e9f3";
}

.nut-icon-a-issue2:before {
  content: "\e9f4";
}

.nut-icon-ask:before {
  content: "\e9f5";
}

.nut-icon-a-ask2:before {
  content: "\e9f6";
}

.nut-icon-mask-close:before {
  content: "\e9f7";
}

.nut-icon-check-normal:before {
  content: "\e9f8";
}

.nut-icon-checked:before {
  content: "\e9f9";
}

.nut-icon-check-checked:before {
  content: "\e9fa";
}

.nut-icon-check-disabled:before {
  content: "\e9fb";
}

.nut-icon-close:before {
  content: "\e9ef";
}

.nut-icon-check:before {
  content: "\e9f0";
}

.nut-icon-plus:before {
  content: "\e9ed";
}

