.nut-theme-dark {
  .nut-actionsheet-panel {
    .nut-actionsheet-cancel {
      border-top: 1px solid $dark-background2;
    }
    .nut-actionsheet-title {
      border-bottom: 1px solid $dark-background2;
    }
    .nut-actionsheet-cancel,
    .nut-actionsheet-item,
    .nut-actionsheet-title {
      background: $dark-background;
      color: $dark-color;
    }
  }
}

.nut-actionsheet-panel {
  display: block;
  .nut-actionsheet-title {
    display: block;
    padding: 13px 16px;
    margin: 0;
    text-align: center;
    background-color: $white;
    border-bottom: 1px solid $actionsheet-light-color;
    font-size: $font-size-base;
    color: $title-color;

    &2 {
      border: none;
      padding-bottom: 0;
    }

    &-sub {
      text-align: center;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.48);
      display: block;
      padding-bottom: 13px;
    }
  }

  .nut-actionsheet-modal {
    .nut-actionsheet-title,
    .nut-actionsheet-sub-title {
      padding: 5px 0;
    }

    .nut-actionsheet-sub-title {
      display: block;
      font-size: $font-size-small;
      color: $title-color;
      margin-inline-start: 0px;
    }
  }

  .nut-actionsheet-menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
  }

  .nut-actionsheet-cancel,
  .nut-actionsheet-item {
    display: block;
    //   height: 24px;
    padding: 16px;
    line-height: $actionsheet-item-line-height;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    font-family: PingFangSC-Regular;
    background-color: #fff;
    border-bottom: $actionsheet-item-border-bottom;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    & .label {
      max-height: 48px;
      overflow: hidden;
      width: 100%;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }

  .subdesc {
    display: block;
    font-size: $actionsheet-item-subdesc-font-size;
    color: #999;
  }

  .nut-actionsheet-item-disabled {
    color: #e1e1e1 !important;
    cursor: not-allowed;
  }
  .nut-actionsheet-item-loading {
    cursor: default;
  }

  .nut-actionsheet-cancel {
    border-top: $actionsheet-item-cancel-border-top;
  }
}

.nut-actionsheet-popup {
  & .nutui-popup__content-wrapper {
    padding: 0;
  }
}
