.nut-theme-dark {
  .nut-checkbox {
    &__label {
      color: $dark-color;
      &--disabled {
        color: $checkbox-label-disable-color;
      }
    }
  }
}
.nut-checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  &--reverse {
    flex-direction: row-reverse;
    & .nut-checkbox__label {
      margin-right: $checkbox-label-margin-left !important;
      margin-left: 0 !important;
    }
  }
  &__label {
    margin-left: $checkbox-label-margin-left;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    width: calc(100% - 37px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &--disabled {
      color: $checkbox-label-disable-color;
    }
  }
  &__icon {
    color: $primary-color;
    height: $checkbox-icon-font-size;
    width: $checkbox-icon-font-size;
    font-size: $checkbox-icon-font-size;
    transition-duration: 0.3s;
    transition-property: color, border-color, background-color;
  }
  &__icon--unchecked {
    color: $checkbox-icon-disable-color;
    font-size: $checkbox-icon-font-size;
  }
  &__icon--indeterminate {
    color: $primary-color;
    font-size: $checkbox-icon-font-size;
  }
  &__icon--disable {
    color: $help-color;
    font-size: $checkbox-icon-font-size;
  }
}
