.nut-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $dialog-width;
  min-height: 156px;
  padding: 0;
  box-sizing: border-box;

  &__header {
    display: block;
    text-align: center;
    height: 22px;
    line-height: 22px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    padding: 33px 24px 16px;
    @include oneline-ellipsis();
    width: calc(100% - 48px);
  }
  &__content {
    width: calc(100% - 48px);
    overflow: auto;
    flex: 1;
    max-height: 268px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
    text-align: center;
    line-height: 24px;
    padding: 0 24px 32px;

    &-only {
      padding: 0 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);

    .nut-button {
      min-width: 50%;
      overflow: hidden;
      border-radius: 0;
      height: 56px;
      font-family: PingFangSC-Medium;
      font-size: 16px;

      &.nut-dialog__footer-cancel {
        border: 0;
        color: rgba(0, 0, 0, 0.85);
        border-right: 0.5px solid rgba(0, 0, 0, 0.1);

        &-only {
          min-width: 100%;
        }
      }
      &.nut-dialog__footer-ok {
        margin-top: 10px;
        background: none;
        margin: 0;
        color: $primary-color;

        &-only {
          min-width: 100%;
        }
      }
    }
  }

  &-popup {
    min-height: auto;
    border-radius: 8px !important;

    & .nutui-popup__content-wrapper {
      padding: 0;
    }
  }
}
